<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    <title></title>

    <link href="https://fonts.googleapis.com/css2?family=Ga+Maamli&family=Sixtyfour+Convergence&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ga+Maamli&family=Geist+Mono:wght@100..900&family=Sixtyfour+Convergence&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ga+Maamli&family=Geist+Mono:wght@100..900&family=Oswald:wght@200..700&family=Sixtyfour+Convergence&display=swap" rel="stylesheet">
    <link href = "/css/user/util.css" rel="stylesheet">

    <link href = "/css/auth.css" rel="stylesheet">

  </head>

  <body>

    <div class="auth_container auth_container--create">
      <%- include ("./../user/layouts/popup.ejs") %>

      <div class="graphic"></div>

      <div class="create_account_container">
        <p class="title">
            Create Account
        </p>

        <form action = "/create_account" method = "POST" class="auth_form auth_form--create">

            <div class="input_group--auth">
              <label> Full Name </label>
              <div id = "name_error" class="error_container"></div>
              <input class="auth_input" name="name" placeholder="Enter username" >
            </div>

            <div class="input_group--auth">
              <label> Username </label>
              <div id = "username_error"class="error_container"></div>
              <input class="auth_input" name="username" placeholder="Enter username" >
           </div>

            <div class="input_group--auth">
              <label> Password </label>
              <div id = "password_error"class="error_container"></div>
              <input class="auth_input" type="password" name="password" placeholder="Enter password" >
            </div>

            <div class="input_group--auth">
              <label> Profile Img </label>
              <input class="auth_input profile_img_input"  type="file" name="image" accept="image/*" >
            </div>

            <div class="profile_img_display_container">
              No Image Selected Yet..
            </div>
            <button class="auth_button auth_button--create" > Submit </button>

        </form>

        <p class="no_account">
          Have an account?
          <a href ="/login"> Click Here! </a>
        </p>

        <p class="no_account">
            <a href ="/"> Go to Home Page </a>
        </p>

    </div>

  </div>

    <script src = "https://cdnjs.cloudflare.com/ajax/libs/axios/1.7.7/axios.min.js"></script>

    <script src = "/js/auth/global_var.js"></script>
    <script src="/js/utils.js"></script>
    <script src="/js/img_upload.js"></script>
    <script src = "/js/auth/upload_profile_image.js"></script>
    <script src = "/js/auth/auth.js"></script>

  </body>

</html>
