<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <main class="main_container">

      <%- include("./index/navbar.ejs") %>
      <%- include("./index/showcase.ejs") %>
      <%- include("./index/color_tester.ejs") %>

      <%- include("./footer.ejs") %>

    </main>
    <script src = "/js/art_creator.js"></script>
  </body>
</html>
