 * {
   box-sizing: border-box;
 }

.auth_container{
  width:100%;
  padding:20px;
  height:100vh;
  color:white;
  font-family: "Oswald";
  font-size:18px;
}

.auth_container--login{
  padding: 0px;
  margin-top:0%;
  padding:0px !important;
}

.validation_errror{
  color:orangered;
  font-size:11px;
  font-family: "monospace";
}

body{
  overflow: hidden;
  background:black;
  background: url("./../imgs/2.png")
}

.create_account_container{
  width:50%;
  margin-left:25%;
  position: relative;
  z-index:999;
  padding:10px;
  padding-top:2px;
  margin-top:5px;
  background: #111926;
  border-radius:5px;
  box-shadow:0px 0px 10px rgba(0,0,0,.5);
}

.login_container{
  margin-left:-2%;
  background: #111926;
  box-shadow:0px 0px 10px rgba(0,0,0,.5);
  width:50%;
  margin-top:-2%;
  height:105vh;
  padding:2%;
}

.login_container .title{
  font-size: 40px;
  text-align: center;
}

.profile_img_display_container{
  position: absolute;
  width:100px;
  font-size:13px;
  height:100px;
  top:0px;
  right:30px;
}

.input_group--auth{
  width:40%;
  margin-left:5%;
  margin-top:5%;
  float:left;
}

.auth_button{
  width:50%;
  margin-left:25%;
  padding:5px;
  border-radius:5px;
  background: #111926;
  color:white;
  border-color:#111926;
  margin-top:10%;
  font-size:20px;
  font-family: "Oswald";
  transition: all .4s;
}

.auth_button:hover{
  background:white;
  color:black;
  transform: translateY(-5px);
}

.profile_img_display_container{
  clear:both;
  margin-top:5%;
}

.auth_form{
  padding:20px;
  padding-top:0px;
}

.auth_input{
  width:100%;
  border-radius: 0px;
  height:25px;
  border:none;
  background:none;
  color:white;
  margin-top:10px;
  border-bottom:white 1px solid;
}

.profile_img_display_container .img_display{
  width:100px;
  border-radius: 50%;
  box-shadow: 0px 0px 10px rgba(0,0,0,.5);
  height:100px;
}

.no_account {
  text-align: center;
  color:white;
}

.no_account a {
  color:white;
}

.create_account_container .title{
  font-size:30px;
  font-family: "Oswald";
  text-align: center;
}

.input_group--login{
  width: 90% ;
}
