.showcase_container{
  background:black;
  padding:20px;
  padding-bottom:10%;
  height:100vh;
  width:100%;
  position: relative;
  z-index: 999;
}

body{
  overflow-x: hidden;
  background: black;
}

canvas{
  width:120%;
  height:100vh;
  left:-15%;
  position: absolute;
  top:-10%;
}

.showcase_container .text-container{
  width:100%;
  position: relative;
  z-index:999;
  color:white;
  font-family: "Oswald";
  padding:20px;
}

.showcase_container .text-container .subtitle {
  background-image: linear-gradient(to right bottom,  yellow,purple);
  color: transparent;
  background-clip: text;
}

.showcase_container .text-container .title{
  font-size:70px;
  font-weight:500;
}

.showcase_container .text-container .subtitle{
  font-size:60px;
  margin-top:-30px;
  font-family: "Oswald";
  font-weight: 500;
  letter-spacing: 2px;
}

.click_me{
  position: absolute;
  right:70%;
  z-index:99;
  color:white;
  top:100%;
  font-family: monospace;
  font-size:15px;
  opacity:0;
  animation:click infinite ease-in 3s;
}

.click_me--inactive{
  animation:none !important;
}

@keyframes click{
  0%{
    opacity:0;
  }
  50%{
    opacity:.5
  }
  100%{
    opacity:0
  }
}
