.showcase_container{
  background:black;
  padding-bottom:10%;
  height:105vh;
  width:100%;
  position: relative;
  z-index: 999;
  background:url("./../imgs/landing.jpg")
}

body{
  overflow-x: hidden;
  background: black;
}

canvas{
  width:120%;
  height:105vh;
  left:-15%;
  position: absolute;
  top:0%;
}

.showcase_container .text-container{
  width:100%;
  position: relative;
  z-index:999;
  margin-top: -30px;
  color:white;
  font-family: "Oswald";
  padding:50px;
}



.showcase_container .text-container .subtitle {
  background-image: linear-gradient(to right bottom,  yellow,purple);
  color: transparent;
  background-clip: text;
}
@keyframes appear_delay{
  0%{
    transform: translateY(-50px);
    opacity:0;
  }
  50%{
    transform: translateY(-50px) scale(1);
    opacity:0;
  }
  80%{
    transform: translateY(25px) scaleY(.6);
    opacity:.5;
  }
  100%{
    transform: translateY(0px) scaleY(1);
    opacity:1;
  }
}
@keyframes style_delay{
  0%{

    opacity:0;
  }
  50%{
    opacity:0;
  }
  80%{
    opacity:.5;
  }
  100%{
    opacity:1;
  }
}
.showcase_container .text-container .title{
  font-size:50px;
  font-weight:500;
  animation: appear_delay 2s ease-in 1;
}

.showcase_container .text-container .subtitle{
  font-size:60px;
  margin-top:-30px;
  font-family: "Oswald";
  font-weight: 500;
  letter-spacing: 2px;
  animation: style_delay 4s ease-in 1;

}


.click_me{
  position: absolute;
  right:70%;
  z-index:99;
  color:white;
  top:100%;
  font-family: monospace;
  font-size:15px;
  opacity:0;
  animation:click infinite ease-in 3s;
}

.click_me--inactive{
  animation:none !important;
}

@keyframes click{
  0%{
    opacity:0;
  }
  50%{
    opacity:.5
  }
  100%{
    opacity:0
  }
}
