<nav>
    <div class="nav_container--logo nav_container">
        <img class="logo" src = "/imgs/logo.png"/>
        <p class="title"> Color Pallete Maker </p>
    </div>
    <div class="nav_container--divider"></div>
    <div class="nav_container--choice nav_container">
        <p class="title"> Login  </p>
    </div>
    <div class="nav_container--choice nav_container">
        <p class="title"> Create Account  </p>
    </div>
</nav>
