<section class="tester_container" >

  <div class="test_graphic">  </div>

  <div class="text-container">

    <h1 class="title"> Extract Any Images' Colors </h1>

    <p class="subtitle"> Test it here! </p>

    <p class="paragraph">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
       Aenean iaculis cursus interdum.
       Fusce scelerisque mauris nec orci rutrum,
       in facilisis orci bibendum.
       Nulla in vestibulum ipsum,
       ac dictum neque.
       Phasellus dictum, dui aliquet vehicula finibus,
       velit mi interdum nisl,
       eu pretium diam neque cursus nisl.
       Pellentesque efficitur quam vitae ultricies dapibus.
       Nam aliquet lorem felis, at pulvinar nunc dictum non. Donec hendrerit,
       est eu eleifend rhoncus, purus diam pharetra massa, id dignissim mi
       turpis congue urna. Maecenas mi orci,
       elementum sed varius in, viverra sed quam.
    </p>

  </div>

  <div class="underline"></div>

</section>
