<div class ="converter_container">
    <div class="inner_container--converter">
        <div class="form-container">
            <div class="type_converter_container">
                <div class="type-box no-border type-box--active" data-type="rgb">
                  RGB
                </div>
                <div class="type-box" data-type="hsl">
                    HSL
                </div>
                <div class="type-box" data-type="hex">
                  HEX
                </div>
                <!-- <div class="type-box" data-type="filter">
                  FILTER
                </div> -->
            </div>
            <form class = "convert--form">
                <input class="type_conversion" type="hidden" name = "type" value = "rgb"/>
                <label>
                Pick Color Here
                </label>
                <input class="color-picker--converter" type = "color" name = "color" value = "#FF0000"/>
                <button class="submit-button--converter">Submit</button>
            </form>
        </div>
        <div class="result-container">
            <div class="result_color_container">
                <div class="circle-color">
                  <p class="title color-answer--main">  #FF9393</p>
                </div>
                <p class="result-color--text"></p>
              </div>
            <!-- <div class="pallete-box--converter">
              <p class="title">Recommended</p>
              <div class="color-grid color-grid--rec">
                  <div class="color-answer">
                    #FF9393
                  </div>
                  <div class="color-answer">
                    #FF9393
                  </div>
                  <div class="color-answer">
                    #FF9393
                  </div>
                  <div class="color-answer">
                    #FF9393
                  </div>
              </div>
            </div> -->
            <div class="pallete-box--converter">
              <p class="title">Triad</p>
              <div class="color-grid color-grid--tri">
                  <div class="color-answer">
                    #FF9393
                  </div>
                  <div class="color-answer">
                    #FF9393
                  </div>
                  <div class="color-answer">
                    #FF9393
                  </div>
                  <div class="color-answer">
                    #FF9393
                  </div>
              </div>
            </div>
            <div class="pallete-box--converter">
              <p class="title">Complementary</p>
              <div class="color-grid color-grid--comp">
                  <div class="color-answer">
                    #FF9393
                  </div>
                  <div class="color-answer">
                    #FF9393
                  </div>
                  <div class="color-answer">
                    #FF9393
                  </div>
                  <div class="color-answer">
                    #FF9393
                  </div>
              </div>
            </div>
            <!-- <div class="pallete-box--converter">
              <p class="title">Pallete Recommendation</p>
              <div class="color-grid">
                <div class="color-answer">
                  #FF9393
                </div>
                <div class="color-answer">
                  #FF9393
                </div>
                <div class="color-answer">
                  #FF9393
                </div>
                <div class="color-answer">
                  #FF9393
                </div>
              </div>
            </div> -->

            </div>
        </div>
    </div>
<!-- <div class="filter_container">

  <p class="title">Filter Any Color! </p>

  <div class="inner_container">

      <div class="form_container">

          <form class="filter_form">

              <label class="rgb_label"> Tint Any Image In CSS with Filter! </label>

              <label class="rgb_label"> Enter any color (must be: rgb,hsl, or hex) </label>

              <input class="hex_rgb_input filter_input" placeholder = "Enter Color Here">

              <button class="color_submit submit_filter ">Filter Color </button>

          </form>

      </div>

      <div class="filter_picker_container">

        <div class="filter_result_container">
          <p>Results Will Show Here </p>
        </div>

        <input type="color" class="picker color_picker_input"/>

      </div>

  </div>

</div> -->
