
<div class="filter_container">

  <p class="title">Filter Any Color! </p>

  <div class="inner_container">

      <div class="form_container">

          <form class="filter_form">

              <label class="rgb_label"> Tint Any Image In CSS with Filter! </label>

              <label class="rgb_label"> Enter any color (must be: rgb,hsl, or hex) </label>

              <input class="hex_rgb_input filter_input" placeholder = "Enter Color Here">

              <button class="color_submit submit_filter ">Filter Color </button>

          </form>

      </div>

      <div class="filter_picker_container">

        <div class="filter_result_container">
          <p>Results Will Show Here </p>
        </div>

        <input type="color" class="picker color_picker_input"/>

      </div>

  </div>

</div>
