<div class="bg-gray-900 text-white particle_maker_container relative">
    <!-- <div id="particles-js"></div> -->
    <canvas id="galaxy"></canvas>
    <p class="click_me">Click Me </p>
    <header class="relative flex flex-col items-center justify-center h-screen text-center px-6">
        <h1 class="text-5xl font-bold mb-4">Create Stunning Particle Effects</h1>
        <p class="text-lg text-gray-300 mb-6">Design and customize particles for your website in just a few clicks.</p>
        <a href = "/login"><button class="glow-button">Get Started</button></a>
    </header>


    <!-- <script>
        particlesJS("particles-js", {
            "particles": {
                "number": { "value": 90 },
                "color": { "value": "#ffffff" },
                "shape": { "type": "line" },
                "opacity": { "value": 0.5 },
                "size": { "value": 5 },
                "move": { "speed": 1 }
            }
        });
    </script> -->
</div>
