
<div class="hex_to_rgb_container">
  <p class="title">Convert Any Color! </p>
  <div class="inner_container">
  <img class="logo_watermark" src = "./imgs/logo.png">
  <div class="form_container">

      <form class="rgb_form">

          <label class="rgb_label"> Type of Color to Convert To </label>

          <select class="type_color select_convert_to">

              <option datatype="rgb"> RGB </option>
              <option datatype="hsl"> HSL </option>
              <option datatype="hex"> HEX </option>

          </select>

          <label class="rgb_label"> Enter the Color You Want to Convert </label>

          <input class="hex_rgb_input color_input" placeholder = "Enter Color Here">

          <button class="color_submit submit_color">Convert Color </button>

      </form>
  </div>
  <div class="picker_container">
    <div class="color_result_container ">
      <p>Results Will Show Here </p>
    </div>
    <input type="color" class="picker filter_picker"/>


  </div>

</div>



</div>
