<nav>

    <div class="nav_container--logo nav_container">
        <img class="logo" src = "/imgs/logo.png"/>
        <p class="title"> Color Pallete Maker </p>
    </div>

    <div class="nav_container--divider"></div>

    <div class="nav_container--choice">

      <ul>


        <li class="choice_container" >
          <a href = "/login">
           <p class="title"> Login  </p>
            <div class="overlay"></div>
            </a>
        </li>


        <li class="choice_container">
          <a href = "/create_account">
            <p class="title"> Create Account  </p>
              <div class="overlay"></div>
          </a>
        </li>

     </ul>

  </div>

</nav>
