<section class="showcase_container" >

  <canvas id="intro"></canvas>


  <div class="text-container">
    <h1 class="title"> Effortlessly Extract, Save, and Play with Colors</h1>
    <h1 class="subtitle"> With Style! </h1>
  </div>

</section>
