<section class="showcase_container" >

  <%- include("./galaxy.ejs") %>

  <div class="text-container">
    <h1 class="title"> Extract Colors From Images </h1>
    <h1 class="subtitle"> With Style! </h1>
    <p class="click_me">Hold down for something cool</p>
  </div>

</section>
