<div class="add_pallete_container">

    <section class="display_section">

      <button class="add_pallete_button">Extract</button>
      <button class="save_pallete_button">Save & Exit</button>

      <form id ="add-pallete-user">
          <div id = "image_error"class="error_container"></div>
          <input type = "file" name = "image"  id="pallete-image-input" class="image_input" accept="image/*"/>
          <div id = "name_error"class="error_container"></div>
          <input placeholder = "Enter name of pallet" name = "name" />
          <input placeholder = "Enter catagory of pallet" name = "catagory" />
      </form>

      <div class="color_display_container display_container">
        <p class="title"> Colors </p>
        <img class="display_color" src="./imgs/color_example.png"/>
      </div>

      <div class="image_display_container display_container">
        <p class="title"> Image </p>
        <img class="display_color" src="./imgs/image_example.png"/>
      </div>

    </section>

</div>
