<div class="add_pallete_container">

    <!-- <img class="logo_watermark" src = "/imgs/logo.png"/> -->

    <section class="display_section">
      <button class="add_pallete_button">Extract</button>
      <button class="save_pallete_button">Save & Exit</button>
      <form id ="add-pallete-user">
          <input type = "file" name = "image"  id="pallete-image-input" class="image_input" accept="image/*"/>
      </form>

      <div class="color_display_container display_container">
        <p class="title"> Colors </p>
        <img class="display_color" src="./imgs/color_example.png"/>
      </div>

      <div class="image_display_container display_container">
        <p class="title"> Image </p>
        <img class="display_color" src="./imgs/image_example.png"/>
      </div>

    </section>

</div>
