
<div class="my_palletes_container">

  <p class="title"> My Palletes </p>
  <% if(pallets.length > 0) {%>
    <div class="inner-container">

      <% for(var i =0; i < pallets.length; i ++) {%>

        <div class="pallete_box">
              <% var src_name = pallets[i].image %>
              <% var src = src_name.substring(src_name.lastIndexOf('\\') + 1) %>
              <% console.log(src) %>
          <div class="img_holder">
            <img src ="/<%= src %>"/>
          </div>

          <div class="color_box">
              <% for(var x =0; x < pallets[i].colors.length; x ++) {%>
                <% var rgb = `rgb(${pallets[i].colors[x].r},${pallets[i].colors[x].g},${pallets[i].colors[x].b})` %>
                <div class="pallete"style="background:<%=rgb %>"></div>
              <%}%>
          </div>

        </div>

      <%}%>

    <%}%>

  </div>

</div>
