<div class="my_palletes_container">

  <div class="options_container">

      <div class="delete_palletes_container">
        <div class="delete_palletes"  id="delete-palletes">Delete Palletes</div>
        <div class="underline" ></div>
      </div>

  </div>
  <div class="all_container">
    <p class="title"> My Palletes </p>


    <section class="organized_palletes_section relative"></section>
</div>
  <%- include("./pallete_search_results.ejs") %>

</div>
