
<div class="my_palletes_container">

  <p class="title"> My Palletes </p>

  <div class="inner-container">

    <% for(var i =0; i < 5; i ++) {%>

      <div class="pallete_box">

        <div class="img_holder">
          <img src = "/imgs/example.png"/>
        </div>

        <div class="color_box">
          <div class="pallete"style="background:orangered"></div>
          <div class="pallete"style="background:orangered"></div>
          <div class="pallete"style="background:orangered"></div>
          <div class="pallete"style="background:orangered"></div>
          <div class="pallete"style="background:orangered"></div>
        </div>

      </div>

    <%}%>

  </div>

</div>
