<div class="my_palletes_container">


  <div class="all_container">
    <br>
    <p class="title"> My Palletes </p>


    <section class="organized_palletes_section relative"></section>
    
</div>

  <%- include("./pallete_search_results.ejs") %>

</div>
