<div class="recommend_description_container">
  <div class="pallete_info_container">
    <p class="title pallete-title"> Name of Pallete</p>
    <div class="color-grid color-grid--original"></div>
  </div>
  <p class="title"> Recommendations </p>
  <div class="ai_recommend_container">

  </div>
</div>
