.dashboard_container{
  padding:0px;
  position: relative;
  padding:10px;
  padding-bottom:5%;
}
.color-answer{
  font-size:13px;
}
.menu{
  position: absolute;
  right:2.5%;
  top:2.5%;
}.menu img {
  width:20px;
color:white;
  margin-left: 0%;
}
.content-holder div{
  width:100%;
  object-fit: cover;
  height: 130px;
}
.color--i .color_box{
  padding:1px;
}
.color--i .color_detail .title{
  font-size:13px;
  font-weight: 300;
  text-align: center;
}
.category_all_container{
  margin-top:10%;
  position: relative;

}.palletes_in_category_container{
  position: relative;
  padding-bottom:35%;
  margin-top:-2.5%;
}

.pallete_category_container{
  width:100%;
  margin-top:10px;
  overflow-x: scroll;
  overflow-y: hidden;
  /* white-space: nowrap; */
  position: relative;
  padding-top:0px;
  padding-bottom: 15%;
  scrollbar-color: #27294c  #1e2040!important;
  scrollbar-width: thin;
}


.palletes_organized_container--hidden{
  visibility: hidden;
}

.pallet_title{
  color:white;font-size:25px;
}
@keyframes grow_in{
  0%{
    height:0%;

  }
  100%{
    height:100%;

  }
}
.choices{
  position:absolute;
  left:0;
  top:0;
  width:100%;
  z-index: 99;
  opacity: 0;
  height:0%;
  transition: .5s all;
  background:#27294c !important;
  color:white;
  font-weight: 200;
  pointer-events: none;
 visibility: hidden;
}

.custom_display_container{
  /* border:1px solid lightblue; */
  float:left;
  padding:10px;
  width:50%;
}

.extract_display_container{
  /* border:1px solid limegreen; */
  float:left;
  width:50%;
  padding:10px;

}
.pallete_choice{

}
.pallete_choice:hover{
  color:yellow;background:#1e2040;

}
.pallete_choice--active{
  color:yellow !important;background:#1e2040 !important;

}
.menu_in_choice{
    width:100%;
    padding:20px;
    position: relative;

  }
  .menu_in_choice img {
    width:20px;
    color:white;
    position: absolute;
    transition:  all .5s;
    margin-left: 0%;
    right:2.5%;
    top:10px;
  }
  .menu:hover img {
     transform: rotate(720deg);
  }
 .menu_in_choice:hover img {
    transform: rotate(720deg);
 }
.color_blob{
  text-align: center;
  padding-top:10px;
}
.choices--active{
  height:100%;
  opacity:1;
  pointer-events: all !important;
  visibility: visible;
}
.pallete_choice{
  display: block;
  width:100%;
  transition: .5s ease-in;
  padding:5px;
  text-align: center;
  border-bottom: 1px solid #1e2040;
}
.pallete_choice--active{
  background:white;
  color:black;
}
.pallete_search_results_container{
  margin-top:-5%;
  padding-bottom: 20%;
}
.add_color{
  transition:all .5s;
}
.add_color:hover{
  background:white !important;
  color:black;
  box-shadow: 0px 0px 10px rgba(0,0,0,.5);

}
.pallete_search_results_container{
  visibility: hidden;
  padding:5px;
  overflow: hidden;
  background:linear-gradient(to right,#27294c,#1e2040) !important;
  z-index: 999;
  position: relative;
  top:5%;
  padding-top:2.5%;
  width:100%;
}
.search_nav--active{
  box-shadow:0px 0px 10px limegreen;
}
.exit--search{
  position: relative;
  text-align: right;
  width:95%;
  margin-top:-10px;
  color:white;
  font-size:30px;
}
.color_blob{
  transition: .5s all;
  box-shadow: 0px 0px 10px none;

}
.no_result_container{
  margin-top:5%;
}
.color_blob:hover{
  box-shadow: 0px 0px 10px limegreen;

}
.color_blob--active{
  box-shadow: 0px 0px 10px limegreen;
  border:1px solid yellow;
  padding:2px;
  transition: all .5s;
  border-radius:0px !important;

}
.color_detail_container .inner{
  width:100%;
  padding:2px;
  padding-left:5px;
  text-align: left;
  color:white;
  clear:both;
}
.pallete_search_results_container--active{
  visibility: visible !important;
}

.inner_category{
  position: relative;
  height:400px;
}

.paginate{
  color:white;
  margin-left:15px;
  border:2px solid none;
  font-size:18px;
  padding-bottom:5px;
}

.paginate--active{
  border-color:white !important;
  text-decoration: underline;
  text-decoration-color: yellow;
}

body{
  font-family:"Oswald";
}

a{
  text-decoration: none;
}

.pallete_category_title{
  color:white;
  font-family: "Oswald";
  font-size:40px;
}

.page_number_container{
  margin: 0 auto;
  width:50%;
  text-align: center;
  margin-left:25%;
  margin-top:50px;
}

.pallete_category_title--big{
  font-size:65px;
  text-align: center;
}

body{
  margin:0;
  background:linear-gradient(to right,#27294c,#1e2040)
}

nav{
  padding:20px;
}

.pallete_card{
  position: relative;
  padding-bottom:40px !important;
}

.pallete_title{
  font-family: "Oswald";
  color:white;
  font-size:20px;
}

.pallete_card .exit{
  position: absolute;
  top:0%;
  visibility: hidden;
  pointer-events: none;
  display: inline;
  right:0%;
  padding:20px;
  opacity:0;
  z-index: 9999999999999999999;
  background:white;/* */
  font-size:15px;
  font-family: "Oswald";
  transition: all .4s;
  border: 3px solid none;
  box-shadow: 0px 0px 10px rgba(0,0,0,.5);
}

.pallete_card .exit:hover{
  transform:scale(1.1);
  border: 3px solid orangered
}

.pallete_card .exit--active{
  visibility: visible;
  pointer-events: all;
  opacity: 1;
}

.pallete_delete_btn--active{
  border:1px solid white !important;
  padding:5px;
  display: inline;
  color:white !important;
  opacity:1 !important;
  font-size:20px !important;
}

.color_box .color_blob{
  width:20px;
  height:20px;
  position: relative;
  border-radius:50%;
  float:left;
  margin-left:5px;
  transition: all .5s;
}
/*

@keyframes flip_open{

  0%{
    transform: rotateY(0deg);

  }
  100%{
    transform: rotateY(180deg);
  }

}

@keyframes flip_close{

  0%{
    transform: rotateY(180deg);

  }
  100%{
    transform: rotateY(0deg);
  }

} */
/*
.pallete_box--flipped .inner {
  transform: rotateY(180deg);
  animation: .5s ease-in 1 flip_open;
}

.pallete_box--close .inner {
  transform: rotateY(0deg);
  animation: .5s ease-in 1 flip_close;
}

.pallete_box--flipped .inner{
  transform: rotateY(180deg);
  animation: .5s ease-in 1 flip_open;
} */

.backside--main{
  transform: translateY(30px);
}

.frontside--main, .backside--main{
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-back{
  margin-top:10px;
}

.color_stripe {
  width:100%;
  height:30px;
  color:black;
  border-radius: 10px;
}

.color_stripe p{
  width:40%;
  text-align: left;
  background:white;
  font-size:14px;
  padding:10px;
  font-family: "Oswald";
}

.backside--main{
  background:#e6e6e6;
  transform: rotateY(180deg);
  width:70%;
  border-radius:10px;
  box-shadow:0px 0px 5px yellow;
  margin-left:15%;
}

.pallete_card--delete{
  /* animation:infinite .1s ease-in shake; */
}

@keyframes shake {
  0%{
  transform:translateX(1px) translateY(1px);
  }
  100%{
    transform: translateX(-1px) translateY(-1px);
  }
}

.color_box .color_blob p {
  font-size:15px;
  position: absolute;
  top:50%;
  opacity:0;
  width:100%;
  color:white;
  text-align: center;
}

.logo_watermark{
  width:1000px;
  position: fixed;
  right:0%;
  top:0%;
  filter: brightness(0);
  opacity:.05;
  height:1000px
}

.my_palletes_container{
  padding-top:20px;
  padding:30px;
  position: relative;
  width:100%;
  margin-top:0%;
  padding-top:7.5%;

}

.color_box{
  width:100%;
  margin-top:5%;
}

#add-pallete-user{
  width:100%;
}

#add-pallete-user input{
  width:100%;
}

/* .img_display{
  width:400px;
  width:400px;
} */
.pallete_display{

}

.pallete_display{
  width:100%;
  margin-top:5%;
  float:left;

}

.pallete{
  border-radius:50px;
  width:25px;
  height:25px;
  float:left;
  margin-left:3px;
}

.pallete_card{
  position: relative;
  float:left;
  box-shadow: 0px 0px 10px rgba(0,0,0,.5);
  padding:10px;
  /* height:110%; */
  width:20%;
  margin-left:10px;
  /* max-height:400px; */
  margin-top:60px;
}

.my_palletes_container .inner-container{
  margin-top:-40px;
}

#category-scroll{
  /* scrollbar-color: #27294c #1e2040;
  scrollbar-width: thin;
  white-space: nowrap;
  overflow-x: scroll;
  padding:10px;
  padding-bottom:100%; */

}

.fact_box{
  width:100%;
  margin-top:20px;
}

.my_palletes_container .title{
  color:white;
  font-family: "Oswald";
  font-size:40px;
}

.my_palletes_container p{
  text-transform: capitalize;
}

.img_holder{
  width:100%;
  margin-left;
}

.color_blob{
  float:left;
  width:30px;
  height:30px;
  border-radius:50%;
  margin-left:5px;
}

.flip-card{
  float:left;
  margin-left:2.5%;
}

.img_holder img{
  width:100%;
  object-fit: cover;
  height: 130px;
}

.profile_dropdown_container{
  position:absolute;
  top:0%;
  right:0%;
  width:100%;
}

.flip-card {
  background-color: transparent;
  width: 22%;
  margin-bottom:50px;
  height: 100%;
  max-height:400px;
  height:400px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

.inner-container{
  margin-left:1.5%;
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  margin-top:10px;
  transition: transform 0.8s;
  margin-bottom:80px;
  transform-style: preserve-3d;
}
.pallete_card{
  position: absolute;
  top:0%;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card--flipped .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  color: black;
  box-shadow: 0px 0px 10px rgba(0,0,0,.5);

}

/* Style the back side */
.flip-card-back {
  color: white;
  transform: rotateY(180deg);
}
