.detail_container{
  margin-top:5%;
  overflow: visible;
  position: relative;
  padding:30px;
}

.basic_data_container{
  width:50%;
  float: left;
}
.submit_edit_button:hover{
background:white;color:black;
}
.submit_edit_button{
  color:white;
  font-size:30px;
  transition: all .4s;
  text-align: center;
  font-family: "Oswald";
  border: none;
  border-bottom: 2px solid white;
  background:none;
  position: relative;
  z-index: 9999999999999999;
  width:50%;
  margin-left: 25%;
}

.detail_title{
  color:white;
  font-size: 50px;
  font-family: "Oswald";
}


#delete-pallete:hover{
  background:white;
  color:black;
}

#delete-pallete{
  position: relative;
  margin-top: 5%;
  transition: all .4s;
  width:50%;
  margin-left: 25%;
  z-index: 9999;
  border:none;
  background:none;color:white;
  font-size:40px;
  font-family: "Oswald";
  border-bottom:2px white solid;
  padding-bottom:10px;
}

.edit_container{
  margin-top:15%;
  width:100%;
  overflow: hidden;
  padding:20px;
}

.edit_img_container{
  float: right;
  width:40%;
  margin-top: -22.5%;
}

.edit_img_container .display_img {
  width:300px;
  height:300px;
  background:#27294c;
  border-radius: 50%;
}

.edit_form_container{
  width:50%;
}

#edit-pallete label{
  color:white;
  font-size: 18px;
  font-family: "Oswald";
  margin-top:5%;
  margin-top:10px;
}

#edit-pallete .input_group{
  width:100%;
}

#edit-pallete .input_group--half{
  float: left;
  width:40%;
  margin-left:5%;
}

#edit-pallete .input_group--full{
  clear: both;
  margin-top:5%;
  padding:30px;
  width:100%;
}

#edit-pallete input{
  color:white;
  border:none;
  width:100%;
  position: relative;
  z-index: 9999999999999999999999999999999999;
  background:none;
  margin-bottom:10px;
  border-bottom:2px solid white;
  font-size: 18px;
  font-family: "Oswald";
}

.detail_image{
  width:50%;
}

.colors_detail_container{
  width:100%;
  margin-top:5%;
}

.submit_edit_button{

}
.colors_detail_container .color_blob{
  width:70px;
  border-radius: 30px;
  height:70px;
}

.rgb_detail_container{
  width:50%;
  float:left;
}
