.detail_container{
  margin-top:5%;
  overflow: visible;
  position: relative;
  visibility: hidden;
  opacity:0;
  padding:30px;
}
body{
  padding-bottom:50px;

}
.detail_btn--active{
  color:yellow !important;
  text-decoration-color: yellow !important;
  border-color: yellow !important;
}
.picker_submit{
  border:none;
  box-shadow:0px 0px 10px rgba(0,0,0,.5);
  border-radius:10px;
}
.color_picker_container{
  position: absolute;
  width:50%;
  top:20%;
  left:25%;
  background:#1e2040;
  border-radius:10px;
  z-index: 9999;
  padding:20px;
  transition:  all .5s;
  transform:translateY(-500px);
  visibility: hidden;
  padding-top:0%;
  opacity: 0;
  pointer-events: none;
  margin-top:20px;
}


.input_container{
  width:100%;
  overflow: hidden;
}

.color_picker_container input{
  width:50px;
  height:50px;
  float:left;
  margin-left:10px;
  
}
.color_picker_wrapper--active{
  visibility: visible !important;
}
.color_picker_wrapper{
  background:black;
  visibility: hidden;
  width:100%;
  height:100%;
  opacity:.9;
  z-index: 888;
  position: absolute;
}

.picker_submit:hover{
  background:white !important;
  color:black;
}


.color_picker_container .title {
  float:left;
  width:100%;
  font-size:30px;
}

.custom_rgb_detail_container{
  width:20%;
  margin-left:2.5%;
  float:left;
}

.color_picker_container .exit {
  position: absolute;
  right:2.5%;
  top:-5%;
  font-size:25px;
}
.color_picker_container--active{
  visibility: visible !important;
  opacity:1 !important;
  pointer-events: all !important;
  transform:translateY(0px)
}
.detail_container--active{
  visibility: visible !important;
  opacity:1
}

.edit_container--active{
  visibility: visible !important;
  opacity:1;
}

.add_color{
  width:50px;
  height:50px;
  margin-left:20px;
  float:left;
  font-size:30px;
  background:linear-gradient(to right,#27294c,#1e2040) !important;
  color:white;
  box-shadow:0px 0px 10px rgba(0,0,0,.5);
  text-align: center;
}

.basic_data_container{
  width:100%;
}

.picker_submit{
  width:50%;
  color:white;
  margin-top:5%;
  transition: all .5s;
  padding:10px;
  clear:both;
  margin-left:25%;
  background:linear-gradient(to right,#27294c,#1e2040) !important;

}

.submit_edit_button:hover{
  background:white;
  color:black;
}

.submit_edit_button{
  color:white;
  font-size:30px;
  transition: all .4s;
  text-align: center;
  font-family: "Oswald";
  border: none;
  border-bottom: 2px solid white;
  background:none;
  position: relative;
  z-index: 9999999999999999;
  width:50%;
  margin-left: 25%;
}
p {
  text-transform: capitalize;
}
.text-container--deal .title{
  color:white;
  text-transform: capitalize;
  font-size: 30px;
  font-family: "Oswald";
}

.text-container--deal .subtitle{
  color:white;
  margin-top:-10px;
  text-transform: capitalize;
  font-size: 20px;
  font-family: "Oswald";
}


#delete-pallete:hover{
  background:white;
  color:black;
}

#delete-palletes{
  position: fixed !important;
}
p{
  color:white;
}

#delete-pallete{
  position: absolute;
  bottom:0%;
  transition: all .4s;
  width:50%;
  margin-left: 25%;
  z-index: 9999;
  border:none;
  background:none;color:white;
  font-size:20px;
  font-family: "Oswald";
  border-bottom:2px white solid;
  padding-bottom:10px;
}



.detail_container .basic_data_container .text-container--deal{
  width:45%;
  float:left;
}

.detail_btn{
  background:none;
  border:none;
  border-bottom:2px solid white;
  padding-bottom:10px;
  color:white;
  margin-right:10px;
  font-family: "Oswald";
  font-size:20px;
  transition: all .5s;
}


.display_pallete_btn{
  background:none;
  border:none;
  border-bottom:2px solid white;
  padding-bottom:10px;
  position: absolute;
  right:5%;
  top:0;
  color:white;
  font-family: "Oswald";
  font-size:20px;
  transition: all .5s;
}

.edit_pallete_btn:hover{
  color:lightblue;
  border-color:lightblue;
}

.detail_container .basic_data_container .img-container{
  width:50%;
  margin-bottom:-7.5%;
  margin-top:5%;
  float:left;
}

.detail_container .basic_data_container .colors_detail_container{
  border-radius:5px;
  box-shadow:0px 0px 10px rgba(0,0,0,.5);
  clear:both;
  overflow: hidden;
}

.edit_container{
  margin-top:15%;
  width:100%;
  visibility: hidden;
  position: absolute;
  overflow: hidden;
  padding:20px;
}

.edit_img_container{
  float: right;
  width:40%;
  margin-top: -22.5%;
}

.edit_img_container .display_img {
  width:300px;
  height:300px;
  background:#27294c;
  border-radius: 50%;
}

.edit_form_container{
  width:50%;
}

#edit-pallete label{
  color:white;
  font-size: 18px;
  font-family: "Oswald";
  margin-top:5%;
  margin-top:10px;
}

#edit-pallete .input_group{
  width:100%;
}

#edit-pallete .input_group--half{
  float: left;
  width:40%;
  margin-left:5%;
}

#edit-pallete .input_group--full{
  clear: both;
  margin-top:5%;
  padding:30px;
  width:100%;
}

#edit-pallete input{
  color:white;
  border:none;
  width:100%;
  position: relative;
  z-index: 9999999999999999999999999999999999;
  background:none;
  margin-bottom:10px;
  border-bottom:2px solid white;
  font-size: 18px;
  font-family: "Oswald";
}

.detail_image{
  width:70%;
  float:right;
}

.colors_detail_container{
  width:100%;
  margin-top:-50px;
}

.colors_detail_container .color_blob{
  width:70px;
  border-radius: 30px;
  height:70px;
}

.rgb_detail_container{
  width:20%;
  float:left;
}

.colors_detail_container{
    width:20% ;
}
